.box {
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.locate {
    position: sticky;
    top: 30px;
    left: 30px;
}
/*-------------------------------*/

.mother {
    border: 1px solid red;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.children {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
/*--------------------------*/
