.one {
    display: flex;
    justify-content: space-between;
}
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}
.box-two {
    display: flex;
}
.mg {
    margin-right: 10px;
}
.two {
    display: flex;
    flex-direction: column;
}
.box-center {
    align-self: center;
}
.box-end {
    align-self: flex-end;
}
.three {
    display: flex;
    justify-content: center;
}
.big-box {
    width: 200px;
    height: 200px;
    background-color: gray;
    color: white;
    position: relative;
  }
  .box-In {
    position: relative;
    right: 150px;
    top: 50px;
  }
  .box-cross {
    background-color: gray;
    position: relative;
    left: 50px;
    bottom: 50px;
  }
  .four {
    display: flex;
    justify-content: flex-end;
  }
  .box-big {
        width: 400px;
        height: 150px;
        background-color: gray;
        color: white;
        position: absolute;
  }
  .box-left {
        position: relative;
        right: 300px;
        top: 50px;
  }
  .box-right {
        position: absolute;
  }
